@if (button == true) else {
    button {
        background:#E01F3D;       /* НАСТРОЙКИ КНОПКИ */
        border-radius: 100px;       /* НАСТРОЙКИ КНОПКИ */
        padding-top: 18px;          /* НАСТРОЙКИ КНОПКИ */
        padding-bottom: 20px;       /* НАСТРОЙКИ КНОПКИ */
        padding-left: 42px;         /* НАСТРОЙКИ КНОПКИ */
        padding-right: 42px;        /* НАСТРОЙКИ КНОПКИ */
        font-family: 'Play';        /* НАСТРОЙКИ КНОПКИ */
        font-style: normal;         /* НАСТРОЙКИ КНОПКИ */
        font-weight: 700;           /* НАСТРОЙКИ КНОПКИ */
        font-size: 16px;            /* НАСТРОЙКИ КНОПКИ */
        line-height: 18px;          /* НАСТРОЙКИ КНОПКИ */
        color: #FFFFFF;           /* НАСТРОЙКИ КНОПКИ */
    }
}

.btn__theme--transparent {
    background: none;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;

}