@if (button == true) else {
    button {
        background:#E01F3D;       /* НАСТРОЙКИ КНОПКИ */
        border-radius: rem(100px);       /* НАСТРОЙКИ КНОПКИ */
        padding-top: rem(18px);          /* НАСТРОЙКИ КНОПКИ */
        padding-bottom: rem(20px);       /* НАСТРОЙКИ КНОПКИ */
        padding-left: rem(42px);         /* НАСТРОЙКИ КНОПКИ */
        padding-right: rem(42px);        /* НАСТРОЙКИ КНОПКИ */
        font-family: 'Play';        /* НАСТРОЙКИ КНОПКИ */
        font-style: normal;         /* НАСТРОЙКИ КНОПКИ */
        font-weight: 700;           /* НАСТРОЙКИ КНОПКИ */
        font-size: rem(16px);            /* НАСТРОЙКИ КНОПКИ */
        line-height: rem(18px);          /* НАСТРОЙКИ КНОПКИ */
        color: #FFFFFF;           /* НАСТРОЙКИ КНОПКИ */
    }
}

.btn__theme--transparent {
    background: none;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: rem(16px);
    line-height: rem(19px);
    color: #FFFFFF;
    padding-left: 0;
    @include tablets {
        color: #E01F3D;
        margin-left: rem(28px);
    }

}

.form__buttons {
    margin-top: rem(44px);
    @include tablets {
        display: flex;
        justify-content: center;
            margin-top: rem(35px);
    }
}

