.contacts {

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: rem(650px);
    height: 100vh;

    .contacts__items {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: rem(59px);

        @include tablets {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: rem(42px);
        }

        @include minitablets {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: rem(42px);
        }

        @include phones {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: rem(42px);
        }
        .contacts__item {
            padding-top: rem(13px);
            .contacts__item--name {
                @include phones {
                    font-family: 'Alegreya Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: rem(21px);
                    line-height: rem(25px);
                    display: flex;
                    align-items: flex-end;
                    color: #000000;
                }

            }
        }
        
        

    }

    .contacts__title {
        font-family: 'Play';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 52px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        @include tablets {
            font-family: 'Play';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 52px;
            text-align: center;
            text-transform: uppercase;
            color: #000000;
        }
    
        @include minitablets {
            font-family: 'Play';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 36px;
            display: flex;
            align-self: center;
            text-align: center;
            text-transform: uppercase;
            color: #000000;
        }
    
        @include phones {
            font-family: 'Play';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 36px;
            display: flex;
            align-self: center;
            text-align: center;
            text-transform: uppercase;
            color: #000000;
        }
    
    }
    .contact {

    }
}

