.features {
    display: flex;
    .features__item {
        display: flex;
        margin-right: rem(17px);
        .feature__text {
            max-width: rem(110px);
            margin-left: rem(13px);
        }
        .feature__text:nth-child(2) {
            max-width: rem(110px);
        }
        .feature__text:nth-child(2) {
            max-width: rem(110px);
        }
    }
}