.form {
    display: flex;
    @include tablets {
        flex-direction: column;
        padding: 0 120px;
    }
    .form__title {
        @include tablets{
            margin-bottom: 4px;
        }
    }
}

.section__title {
    @include tablets {
        font-family: 'Play';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 52px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

.form__col {
    flex: 1;
    margin-right: rem(20px);
    &:last-child {
        margin-right: rem(0px);
    }
    @include tablets {
        margin-right: rem(0px);    
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(18px);
}

.form__block {
    flex: 1;
    margin-right: rem(20px);
    &:last-child {
        margin-right: rem(0px);
    }

}

.form__input {
    @include tablets{
        height: rem(36px);
        padding-top: rem(12px);
        padding-bottom: rem(17px);
        padding-left: rem(13px);
        padding-right: rem(13px);
    }
    width: 100%;
    border: solid rem(3px) transparent;    
    
    border-radius: rem(4px);
    background: #FFFFFF;

    padding-top: rem(17px);
    padding-bottom: rem(17px);
    padding-left: rem(13px);
    padding-right: rem(13px);

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: rem(14px);
    line-height: rem(20px);
    // color: #000000;
    &:focus {
        border-color: #E01F3D;
        outline: none;
    }
    &--textarea {
        height: rem(152px);
        resize: none;

        @include tablets{
            height: rem(88px);
            // padding-top: rem(-3px);
        }

    }

}

.form__title {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: rem(16px);
    line-height: rem(19px);
    color: #FFFFFF;
}

.form__controls {
    margin-top: rem(32px);
    display: flex;
    flex-wrap: wrap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: rem(16px);
    line-height: rem(19px);
    color: #FFFFFF;

    &:last-child {
        margin-top: rem(2px);  
    }
    @include tablets {
        margin-top: rem(20px);
    }
}

.radio__checkbox {
    margin-top: rem(5px);

}

