.form {
    display: flex;
}

.form__col {
    flex: 1;
    margin-right: 20px;
    &:last-child {
        margin-right: 0px;
    }
}

.form__row {
    display: flex;
    margin-bottom: 18px;
}

.form__block {
    flex: 1;
    margin-right: 20px;
    &:last-child {
        margin-right: 0px;
    }
}

.form__input {
    width: 100%;
    border: solid 3px transparent;    
    
    border-radius: 4px;
    background: #FFFFFF;

    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 13px;
    padding-right: 13px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    // color: #000000;
    &:focus {
        border-color: #E01F3D;
        outline: none;
    }
    &--textarea {
        height: 152px;
        resize: none;
    }
}

.form__title {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.form__controls {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;

    &:last-child {
        margin-top: 2px;  
    }
}

.radio__checkbox {
    margin-top: -15px;

}