.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.menu {
    // margin-left: rem(-35px);
    margin: 0 10px;
}

.menu__link {
    white-space: nowrap;
}

.menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.menu__item {
    margin-right: rem(22px);
    margin-top:10px;
    &:last-child {
        margin-right: rem(0px);
    }
}



address {
    @include fontaddress;
        white-space: nowrap;
        flex-shrink: 0;
}

.phone-number {
    display: flex;
    align-items: center;
    .phone-number__icon--element {
        width: rem(12px);
        height: rem(12px);
        margin-right: rem(6px);
    }
}