.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.navigation__list--item {
    
}