

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 25px;
}


.navigation {
    @include fontnav;
    margin-top: 11px;
    
    .navigation__list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
} 
.navigation__list--item {
    margin-right: 28px;
}

}

.address {
    margin-top: 11px;
    display: flex;
    flex-direction: row;
    @include fontaddress; 
    div {
        margin-right: 7px;
    }
}

