.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    // margin-left: rem(-35px);
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__item {
    margin-right: rem(22px);
    &:last-child {
        margin-right: rem(0px);
    }
}



address {
    @include fontaddress;
}

.phone-number {
    display: flex;
    align-items: center;
    .phone-number__icon--element {
        width: rem(12px);
        height: rem(12px);
        margin-right: rem(6px);
    }
}