.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    // margin-left: -35px;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__item {
    margin-right: 22px;
    &:last-child {
        margin-right: 0px;
    }
}



address {
    @include fontaddress;
}

.phone-number {
    display: flex;
    align-items: center;
    .phone-number__icon--element {
        width: 12px;
        height: 12px;
        margin-right: 6px;
    }
}