.hello {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.hello__left {
    p {
        font-family: 'Alegreya Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        max-width: 320px;
        margin-top: 36px;
        margin-bottom: 42px;
    }
    .hello__left--properties {
        padding-top: 63px;
        display: flex;
        flex-direction: row;

        .hello__left--properties--item {
            display: flex;
            font-family: 'Alegreya Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 21px;
            color: #292929;
            img {
                max-height: 50%;
            }
            p{
                max-width: 130px;
                margin-top: 8px;
                margin-left: 20px;
            }
        }
    }
    
}

