.hello {
    margin-top: rem(90px);
    display: flex;
    justify-content: space-between;
    padding-bottom: rem(74px);
}

.hello__left {
    p {
        font-family: 'Alegreya Sans';
        font-style: normal;
        font-weight: 400;
        font-size: rem(21px);
        line-height: rem(25px);
        max-width: rem(320px);
        margin-top: rem(30px);
    }
    button {
        margin-top: rem(35px);
    }
    .hello__left--properties {
        padding-top: rem(63px);
        display: flex;
        flex-direction: row;

        .hello__left--properties--item {
            margin-right: rem(15px);
            display: flex;
            font-family: 'Alegreya Sans';
            font-style: normal;
            font-weight: 400;
            font-size: rem(21px);
            color: #292929;
            img {
                max-height: 100%;
            }
            p{
                max-width: rem(130px);
                margin-top: rem(2px);
                margin-left: rem(7px);
                font-family: 'Play';
                font-style: normal;
                font-weight: 400;
                font-size: rem(16px);
                line-height: rem(18px);
                color: #292929;
            }
        }
        .hello__left--properties--item:nth-child(2) {
            margin-left: rem(5px);
            margin-right: rem(30px);
            display: flex;
            font-family: 'Alegreya Sans';
            font-style: normal;
            font-weight: 400;
            font-size: rem(21px);
            color: #292929;
            img {
                max-height: 100%;
            }
            p{
                max-width: rem(130px);
                margin-top: rem(2px);
                margin-left: rem(7px);
                font-family: 'Play';
                font-style: normal;
                font-weight: 400;
                font-size: rem(16px);
                line-height: rem(18px);
                color: #292929;
            }
        }
        .hello__left--properties--item:nth-child(3) {
            margin-right: rem(15px);
            margin-left: rem(5px);
            display: flex;
            font-family: 'Alegreya Sans';
            font-style: normal;
            font-weight: 400;
            font-size: rem(21px);
            color: #292929;
            img {
                max-height: 100%;
            }
            p{
                max-width: rem(130px);
                margin-top: rem(8px);
                margin-left: rem(11px);
                font-family: 'Play';
                font-style: normal;
                font-weight: 400;
                font-size: rem(16px);
                line-height: rem(18px);
                color: #292929;
            }
        }
    }
    
}

.hello__right {
    img {
        width: 130%;
        // margin-left: rem(-80px);
    }
}

