.hello {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.hello__left {
    p {
        font-family: 'Alegreya Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        max-width: 320px;
        margin-top: 36px;
        margin-bottom: 42px;
    }
    .hello__left--properties--item {
        display: flex;
        font-family: 'Alegreya Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        color: #292929;

    }
    
}

