.hello {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.hello__left {
    p {
        font-family: 'Alegreya Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        max-width: 320px;
        margin-top: 36px;
    }
    button {
        margin-top: 42px;
    }
    .hello__left--properties {
        padding-top: 63px;
        display: flex;
        flex-direction: row;

        .hello__left--properties--item {
            margin-right: 15px;
            display: flex;
            font-family: 'Alegreya Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 21px;
            color: #292929;
            img {
                max-height: 100%;
            }
            p{
                max-width: 130px;
                margin-top: 8px;
                margin-left: 20px;
                font-family: 'Play';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 18px;
                color: #292929;
            }
        }
    }
    
}

.hello__right {
    img {
        width: 130%;
        // margin-left: -80px;
    }
}

