.hello {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 74px;
}

.hello__left {
    p {
        font-family: 'Alegreya Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        max-width: 320px;
        margin-top: 30px;
    }
    button {
        margin-top: 35px;
    }
    .hello__left--properties {
        padding-top: 63px;
        display: flex;
        flex-direction: row;

        .hello__left--properties--item {
            margin-right: 15px;
            display: flex;
            font-family: 'Alegreya Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 21px;
            color: #292929;
            img {
                max-height: 100%;
            }
            p{
                max-width: 130px;
                margin-top: 2px;
                margin-left: 7px;
                font-family: 'Play';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 18px;
                color: #292929;
            }
        }
        .hello__left--properties--item:nth-child(2) {
            margin-left: 5px;
            margin-right: 30px;
            display: flex;
            font-family: 'Alegreya Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 21px;
            color: #292929;
            img {
                max-height: 100%;
            }
            p{
                max-width: 130px;
                margin-top: 2px;
                margin-left: 7px;
                font-family: 'Play';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 18px;
                color: #292929;
            }
        }
        .hello__left--properties--item:nth-child(3) {
            margin-right: 15px;
            margin-left: 5px;
            display: flex;
            font-family: 'Alegreya Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 21px;
            color: #292929;
            img {
                max-height: 100%;
            }
            p{
                max-width: 130px;
                margin-top: 8px;
                margin-left: 11px;
                font-family: 'Play';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 18px;
                color: #292929;
            }
        }
    }
    
}

.hello__right {
    img {
        width: 130%;
        // margin-left: -80px;
    }
}

