.hero {
    padding-top: rem(24px);
    background-color: $blue;
    min-height: rem(650px);
    height: 100vh;



    &:before, &:after {
        @include tablets {
            display: none;
        }
    }

}

.hero__logo--768 {
    display: none;
    @include tablets {
            display: block; 
            height: rem(300px);
            width: rem(300px);
        }
    }



.hero__title-section {
    margin-top: rem(102px);

    
    @include tablets {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 100%;
        align-items: center;
        text-align: center;
        margin-top: rem(0px);
    }

    .hero__main-title {
        @include tablets {
            margin-top: rem(73px);
            max-width: rem(637px);
            font-size: rem(48px);
            line-height: rem(52px);
            color: #292929;
        }
        @include minitablets {
            font-size: rem(32px);
            line-height: 36px;
        }
    }
    .hero__title-desc {
        margin-top: rem(22px);
        max-width: rem(321px);
        font-family: 'Alegreya Sans';
        font-style: normal;
        font-weight: 400;
        font-size: rem(21px);
        line-height: rem(25px);
        color: #292929;

        @include tablets {
            max-width: 100%;
            margin-top: rem(8px);
        }
        @include minitablets {
            font-weight: 400;
            font-size: rem(18px);
            line-height: rem(20px);  
        }

    }
    .button {
        margin-top: rem(33px);
        @include tablets {
            
            margin-top: rem(25px);
        }
    }
}

.hero__icons-section {
    margin-top: rem(75px);
}

.hero__icons-section {
    @include tablets {
        display: none;
    }
}

.hero__container {
    background: url('../img/hello/headphones.png') left 90% center no-repeat;
    background-size: 40vw;
    @include tablets {
        background: none;
        background-size: none;
    }
}