$blue: #F5F5F5;

$text-color: #292929;     /* ПЕРЕМЕННАЯ "ЦВЕТ ТЕКСТА" */

@mixin fontnav {                        /* МИКСИН "ШРИФТ НАВИГАЦИИ" */
    font-family: 'Alegreya Sans';       /* МИКСИН "ШРИФТ НАВИГАЦИИ" */
    font-style: normal;                 /* МИКСИН "ШРИФТ НАВИГАЦИИ" */
    font-weight: 400;                   /* МИКСИН "ШРИФТ НАВИГАЦИИ" */
    font-size: 18px;                    /* МИКСИН "ШРИФТ НАВИГАЦИИ" */
    line-height: 20px;                  /* МИКСИН "ШРИФТ НАВИГАЦИИ" */
}                                       /* МИКСИН "ШРИФТ НАВИГАЦИИ" */

@mixin fontaddress {        /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
    font-family: 'Play';    /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
    font-style: normal;     /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
    font-weight: 400;       /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
    font-size: 18px;        /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
    line-height: 18px;      /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
}

@mixin fonth3 {                         /* МИКСИН "ШРИФТ ЗАГОЛОВКОВ H3" */
    font-family: 'Play';                /* МИКСИН "ШРИФТ ЗАГОЛОВКОВ H3" */
    font-style: normal;                 /* МИКСИН "ШРИФТ ЗАГОЛОВКОВ H3" */
    font-weight: 700;                   /* МИКСИН "ШРИФТ ЗАГОЛОВКОВ H3" */
    font-size: 24px;                    /* МИКСИН "ШРИФТ ЗАГОЛОВКОВ H3" */
    line-height: 28px;                  /* МИКСИН "ШРИФТ ЗАГОЛОВКОВ H3" */
}

@mixin button-order {
    /* ЗДЕСЬ БУДЕТ МИКСИН С СОДЕРЖИМЫМ КНОПКИ" */
}

@if (h1 == true) else {
    h1 {
        max-width: 400px;
        font-family: 'Play';        /* "ШРИФТ ЗАГОЛОВКОВ H1" */
        font-style: normal;         /* "ШРИФТ ЗАГОЛОВКОВ H1" */
        font-weight: 700;           /* "ШРИФТ ЗАГОЛОВКОВ H1" */
        font-size: 48px;            /* "ШРИФТ ЗАГОЛОВКОВ H1" */
        line-height: 52px;          /* "ШРИФТ ЗАГОЛОВКОВ H1" */
    }
}

@if (h2 == true) else {
    h2 {

        font-family: 'Play';        /* "ШРИФТ ЗАГОЛОВКОВ H2" */
        font-style: normal;         /* "ШРИФТ ЗАГОЛОВКОВ H2" */
        font-weight: 700;           /* "ШРИФТ ЗАГОЛОВКОВ H2" */
        font-size: 48px;            /* "ШРИФТ ЗАГОЛОВКОВ H2" */
        line-height: 52px;          /* "ШРИФТ ЗАГОЛОВКОВ H2" */
    }
}

@if (button == true) else {
    button {
        background:#E01F3D;       /* НАСТРОЙКИ КНОПКИ */
        border-radius: 100px;       /* НАСТРОЙКИ КНОПКИ */
        padding-top: 18px;          /* НАСТРОЙКИ КНОПКИ */
        padding-bottom: 20px;       /* НАСТРОЙКИ КНОПКИ */
        padding-left: 42px;         /* НАСТРОЙКИ КНОПКИ */
        padding-right: 42px;        /* НАСТРОЙКИ КНОПКИ */
        font-family: 'Play';        /* НАСТРОЙКИ КНОПКИ */
        font-style: normal;         /* НАСТРОЙКИ КНОПКИ */
        font-weight: 700;           /* НАСТРОЙКИ КНОПКИ */
        font-size: 16px;            /* НАСТРОЙКИ КНОПКИ */
        line-height: 18px;          /* НАСТРОЙКИ КНОПКИ */
        color: #FFFFFF;           /* НАСТРОЙКИ КНОПКИ */
    }
}

@if (h3 == true) else {
    h3 {
        font-family: 'Play';    /* "ШРИФТ ЗАГОЛОВКОВ H3" */
        font-style: normal;     /* "ШРИФТ ЗАГОЛОВКОВ H3" */
        font-weight: 700;       /* "ШРИФТ ЗАГОЛОВКОВ H3" */
        font-size: 36px;        /* "ШРИФТ ЗАГОЛОВКОВ H3" */
        line-height: 42px;      /* "ШРИФТ ЗАГОЛОВКОВ H3" */
    }
}

@if (h4 == true) else {
    h4 {
        font-family: 'Play';    /* "ШРИФТ ЗАГОЛОВКОВ H4" */
        font-style: normal;     /* "ШРИФТ ЗАГОЛОВКОВ H4" */
        font-weight: 700;       /* "ШРИФТ ЗАГОЛОВКОВ H4" */
        font-size: 24px;        /* "ШРИФТ ЗАГОЛОВКОВ H4" */
        line-height: 28px;      /* "ШРИФТ ЗАГОЛОВКОВ H4" */
    }
}

@if (h5 == true) else {
    h5 {
        font-family: 'Play';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #292929;
    }
}

