$text-color: #292929;     /* ПЕРЕМЕННАЯ "ЦВЕТ ТЕКСТА" */

@mixin fontnav {                        /* МИКСИН "ШРИФТ НАВИГАЦИИ" */
    font-family: 'Alegreya Sans';       /* МИКСИН "ШРИФТ НАВИГАЦИИ" */
    font-style: normal;                 /* МИКСИН "ШРИФТ НАВИГАЦИИ" */
    font-weight: 400;                   /* МИКСИН "ШРИФТ НАВИГАЦИИ" */
    font-size: 18px;                    /* МИКСИН "ШРИФТ НАВИГАЦИИ" */
    line-height: 20px;                  /* МИКСИН "ШРИФТ НАВИГАЦИИ" */
}                                       /* МИКСИН "ШРИФТ НАВИГАЦИИ" */

@mixin fontaddress {        /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
    font-family: 'Play';    /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
    font-style: normal;     /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
    font-weight: 400;       /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
    font-size: 18px;        /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
    line-height: 18px;      /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
}

@mixin fonth1h2 {               /* МИКСИН "ШРИФТ ЗАГОЛОВКОВ H1 И H2" */
    font-family: 'Play';        /* МИКСИН "ШРИФТ ЗАГОЛОВКОВ H1 И H2" */
    font-style: normal;         /* МИКСИН "ШРИФТ ЗАГОЛОВКОВ H1 И H2" */
    font-weight: 700;           /* МИКСИН "ШРИФТ ЗАГОЛОВКОВ H1 И H2" */
    font-size: 48px;            /* МИКСИН "ШРИФТ ЗАГОЛОВКОВ H1 И H2" */
    line-height: 52px;          /* МИКСИН "ШРИФТ ЗАГОЛОВКОВ H1 И H2" */
}

@mixin fonth3 {                         /* МИКСИН "ШРИФТ ЗАГОЛОВКОВ H3" */
    font-family: 'Play';                /* МИКСИН "ШРИФТ ЗАГОЛОВКОВ H3" */
    font-style: normal;                 /* МИКСИН "ШРИФТ ЗАГОЛОВКОВ H3" */
    font-weight: 700;                   /* МИКСИН "ШРИФТ ЗАГОЛОВКОВ H3" */
    font-size: 24px;                    /* МИКСИН "ШРИФТ ЗАГОЛОВКОВ H3" */
    line-height: 28px;                  /* МИКСИН "ШРИФТ ЗАГОЛОВКОВ H3" */
}

@mixin button-order {
    /* ЗДЕСЬ БУДЕТ МИКСИН С СОДЕРЖИМЫМ КНОПКИ" */
}

/* ДОБАВИТЬ ТАКУЮ ШТУКУ: ЕСЛИ ЗАГОЛОВОК ТАКОГО-ТО УРОВНЯ, ТО СТИЛИ ТАКИЕ-ТО */