.order__section {
    background: #181818;
    .container {
        h2 {
            color: #FFFFFF;
        }
    }
}

.form {
    display: flex;
}

.form__col {
    flex: 1;
    margin-right: 20px;
    &:last-child {
        margin-right: 0px;
    }
}

.form__row {
    display: flex;
    margin-bottom: 18px;
}

.form__block {
    flex: 1;
    margin-right: 20px;
    &:last-child {
        margin-right: 0px;
    }
}

.form__input {
    width: 100%;
    border: none;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 13px;
    padding-right: 13px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}