.order{
    padding-top: 35px;
    // margin-top: 50px;
    // margin-bottom: -50px;
    background: #181818;
    min-height: 650px;
    .container {
        h2 {
            color: #FFFFFF;
        }
    }
}

