.properties {
    padding-bottom: 155px;
 h2{
    padding-top: 67px;
    text-align: center;

 }
 p {

    margin: 0 auto;
    margin-top: -40px;
    max-width: 590px;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #666666;
 }
 .properties__items {
    margin-top: 62px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .between {
        margin-top: 50px;
        
    }
 .properties__items--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
        color: #292929;
        margin-top: 31px;
    }
    p {
        margin-top: 0px;
        font-family: 'Play';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #666666;
    }
 }

 }


}
