.properties {
 h2{
    padding-top: 70px;
    text-align: center;
 }
 p {
    padding-top: 17px;
    margin: 0 auto;
    max-width: 590px;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #666666;
 }
 .properties__items {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
 .properties__items--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
        img {
            
        }
    }
 }

 }


}
