.properties {
    padding-bottom: rem(155px);
 h2{
    padding-top: rem(67px);
    text-align: center;

 }
 p {

    margin: 0 auto;
    margin-top: rem(-40px);
    max-width: rem(590px);
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: rem(14px);
    line-height: rem(19px);
    text-align: center;
    color: #666666;
 }
 .properties__items {
    margin-top: rem(62px);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .between {
        margin-top: rem(50px);
        
    }
 .properties__items--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
        color: #292929;
        margin-top: rem(31px);
    }
    p {
        margin-top: rem(0px);
        font-family: 'Play';
        font-style: normal;
        font-weight: 400;
        font-size: rem(16px);
        line-height: rem(19px);
        text-align: center;
        color: #666666;
    }
 }

 }


}
