.radio {
    display: flex;
    cursor: pointer;
    user-select: none;
    &__checkbox {
        .radio__visible {
            border-radius: 0;
            &:before {
                background: url('../img/checkbox.svg') center center;
                background-repeat: no-repeat;
            }
        }
    }
}


.radio__visible {
    width: rem(26px);
    height: rem(26px);
    position: relative;
    border-radius: 50%;
    background: #fff;
    &:before {
        content: "";
        width: rem(14px);
        height: rem(14px);
        background: #E01F3D;
        border-radius: 50%;
        position: absolute;
        display: none;
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%);
    }
}
.radio__elem {
    display: none;
    &:checked ~ .radio__visible {
        &:before {
            display: block;
        }
    }
}

.radio__title {
    margin-right: rem(20px);
    margin-left: rem(10px);
    margin-top: rem(3px);
}