.rewiews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: rem(650px);
    height: 100vh;
    .section__title {
        text-align: center;
    }
    .rewiew {

    }
}

.rewiew__title {
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    @include tablets {
        display: flex;
        justify-content: center;
        font-family: 'Play';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 52px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }
}

.rewiews__display {
    min-width: rem(939px);
    margin-top: rem(40px);
    background: #F8FAF9;
    padding-left: rem(43px);
    padding-right: rem(43px);
    padding-top: rem(43px);
    padding-bottom: rem(43px);
    @include tablets {
        min-width: rem(468px);
    }
    .rewiews__display--inner {
        display: flex;
        @include tablets {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .rewiews__avatar {


                height: rem(264px);
                width: rem(253px);        
                
                @include tablets {
                    height: rem(130px);
                    width: rem(130px);
                }
            
            }
        
        .rewiews__content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: rem(38px);
            @include tablets {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
            .rewiews__title {
                margin-top: rem(37px);
                align-self: flex-start;
                text-align: left;
                @include tablets {
                    align-self: center;
                    text-align: center;
                    font-family: 'Play';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 28px;
                    color: #292929;

                }
            }
            .rewiews__text {
                margin-top: rem(24px);
                max-width: rem(498px);
                font-family: 'Play';
                font-style: normal;
                font-weight: 400;
                font-size: rem(16px);
                line-height: rem(19px);
                display: flex;
                align-items: flex-end;
                color: #666666;
                @include tablets {
                    max-width: rem(677px);
                    display: flex;
                    
                }
            }
            .rewiews__author {
                margin-top: rem(38px);
            }
        }
    }
}

.rewiews__switcher {
    display: flex;
    justify-content: center;
    padding-top: rem(14px);
    .interactive-avatar {
        height: rem(80px);
        width: rem(80px);
        position: relative;
        overflow: hidden;
        border-radius: 50%;

        border: rem(4px) solid transparent;
        &--active {
            border-color: #E01F3D;
        }
        .interactive-avatar--img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .interactive-avatar--link {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
        }
        
    }
}