.rewiews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: rem(650px);
    height: 100vh;
    .section__title {
        text-align: center;
    }
    .rewiew {

    }
}

.rewiews__display {
    min-width: rem(939px);
    margin-top: rem(40px);
    background: #F8FAF9;
    padding-left: rem(43px);
    padding-right: rem(43px);
    padding-top: rem(43px);
    padding-bottom: rem(43px);
    .rewiews__display--inner {
        display: flex;
        .rewiews__avatar {
            .rewiews__avatar--img {
                height: rem(264px);
                width: rem(253px);
            }
        }
        .rewiews__content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: rem(38px);
            .rewiews__title {
                margin-top: rem(37px);
                align-self: flex-start;
                text-align: left;
            }
            .rewiews__text {
                margin-top: rem(24px);
                max-width: rem(498px);
                font-family: 'Play';
                font-style: normal;
                font-weight: 400;
                font-size: rem(16px);
                line-height: rem(19px);
                display: flex;
                align-items: flex-end;
                color: #666666;
            }
            .rewiews__author {
                margin-top: rem(38px);
            }
        }
    }
}

.rewiews__switcher {
    display: flex;
    justify-content: center;
    padding-top: rem(14px);
    .interactive-avatar {
        height: rem(80px);
        width: rem(80px);
        position: relative;
        overflow: hidden;
        border-radius: 50%;

        border: rem(4px) solid transparent;
        &--active {
            border-color: #E01F3D;
        }
        .interactive-avatar--img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .interactive-avatar--link {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
        }
        
    }
}