.headline {
    display: flex;
    flex-direction: column;
    text-align: center;

    .section__title {
        margin-top: 10px;
    }
    
    .headline__subtitle {
        margin: 0 auto;
        margin-top: -40px;
        align-items: center;
        max-width: 580px;
        font-family: 'Play';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #666666;
    }
}

.benefits {
    min-height: 650px;
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    .benefits__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .benefit__image {
            // max-width: 25%;

        }
        .benefit__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            .benefit__title {
                margin-top: 33px;
            }
            .benefit__description {
                max-width: 250px;
                margin-top: 10px;
                font-family: 'Play';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #666666;

            }
        }
    }
}

