h2 {

}

.team__members {
    display: flex;
    justify-content: space-between;
    .team__members--item {
        display: flex;
        flex-direction: column;
        text-align: center;

        div {
            align-self: center;
            h5 {
                margin-top: 30px;
            }
            .operator {
                color: #292929;
                margin-top: 15px;
                
            }
            p {
                margin-top: 10px;
                text-align: center;
                max-width: 142px;
                font-family: 'Play';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #666666;
    
            }
        }
    }
    
}

.team {
    padding-bottom: 50px;
}