h2 {

}

.team__members {
    display: flex;
    justify-content: space-between;
    .team__members--item {
        display: flex;
        flex-direction: column;
        text-align: center;

        div {
            align-self: center;
            h5 {
                margin-top: rem(30px);
            }
            .operator {
                color: #292929;
                margin-top: rem(15px);
                
            }
            p {
                margin-top: rem(10px);
                text-align: center;
                max-width: rem(142px);
                font-family: 'Play';
                font-style: normal;
                font-weight: 400;
                font-size: rem(16px);
                line-height: rem(19px);
                color: #666666;
    
            }
        }
    }
    
}

.team {
    padding-bottom: rem(50px);
}