.team {

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: rem(650px);
    height: 100vh;

    .team__title {
        font-family: 'Play';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 52px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        @include tablets {
            font-family: 'Play';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 52px;
            text-align: center;
            text-transform: uppercase;
            color: #000000;
        }
    
        @include minitablets {
            font-family: 'Play';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 36px;
            align-self: center;
            text-align: center;
            text-transform: uppercase;
            color: #000000;
        }
    
        @include phones {
            font-family: 'Play';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 36px;
            align-self: center;
            text-align: center;
            text-transform: uppercase;
            color: #000000;
        }
    
    }

    .team__items {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin-top: rem(59px);
        justify-content: space-between;

        @media screen and (max-width: 1060px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: rem(40px);
        }

        @include tablets {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @include minitablets {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @include phones {
            display: flex;
            flex-direction: column;
            align-items: center;
        }


        
        .team__item {
            padding-top: rem(13px);
            display: flex;
            flex-direction: column;

            @media screen and (max-width: 1060px) {
                padding-top: 20px;
            }
            .team__item--container {
                display:flex;
                flex-direction: column;
                @media screen and (max-width: 1060px) {
                    display: flex;
                    flex-direction: column-reverse;
                } 
            }

            .team__item--name {
                display: flex;

                align-self: center;
                font-family: 'Play';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 21px;
                color: #292929;
                padding-top: rem(28px);
                .team__item--spoiler {
                    padding-left: 4px;
                }
                @media screen and (max-width: 1060px) {
                    padding-top: 0;
                }
                @include phones {
                    font-family: 'Alegreya Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: rem(21px);
                    line-height: rem(25px);
                    align-items: flex-end;
                    color: #000000;
                }

            }
            .team__item--avatar {
                width: rem(220px);
                height: rem(291px);
                min-width: rem(220px);
                min-height: rem(291px);
                @media screen and (max-width: 1060px) {
                    padding-top: 25px;
                    max-width: rem(220px);
                    max-height: rem(291px);
                } 
            }

            .alla,
            .boris,
            .kirill {
                @media screen and (max-width: 1060px) {
                    display: none;
                }
            }


            .team__item--prof {
                padding-top: 20px;
                font-family: 'Play';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #292929;
                @media screen and (max-width: 1060px) {
                    padding-top: 26px;
                    font-family: 'Play';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 21px;
                    text-align: center;
                    color: #000000;
                }

            }
            .team__item--desc {
                max-width: rem(220px);
                padding-top: 7px;
                font-family: 'Play';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #666666;
                @media screen and (max-width: 1060px) {
                    font-family: 'Play';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    color: #666666;
                }
            }
        }
        
        

    }

    
    .contact {

    }
}

