// ЧЕМ БОЛЕЕ ОБЩИЙ ФАЙЛ, ТЕМ ВЫШЕ ОН НАХОДИТСЯ (Т.Е. БОЛЕЕ ПРИОРИТЕТЕН)

// НАЗЫВАТЬ ЗАВИСИМЫЕ ФАЙЛЫ НУЖНО ТОЛЬКО ЧЕРЕЗ НИЖНЕЕ ПОДЧЕРКИВАНИЕ 
@import "layout/base.css";

@import "layout/normalize.css";

@import "layout/fonts.css";

@import "blocks/_mixin.scss";
/* ПОДКЛЮЧИЛ ФАЙЛ С ПЕРЕМЕННЫМИ, МИКСИНАМИ И ПР. */

@import "blocks/_header.scss";
/* ПОДКЛЮЧИЛ СТИЛИ ХЭДЕРА */

@import "blocks/_footer.scss";
/* ПОДКЛЮЧИЛ СТИЛИ ФУТЕРА*/

// @import "blocks/_hello.scss";
/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА ПРИВЕТСТВИЯ */

@import "blocks/_order.scss";
/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА ЗАКАЗА ТОВАРА */

@import "blocks/_team.scss";
/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА КОМАНДЫ КОМПАНИИ */

@import "blocks/_properties.scss";
/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА СВОЙСТВ ТОВАРА */

@import "blocks/_hero.scss";

@import "blocks/_features.scss";

@import "blocks/_section.scss";

@import "blocks/_rewiews.scss";

@import "blocks/_form.scss";

@import "blocks/_radio.scss";

@import "blocks/_btn.scss";

