@charset "UTF-8";
@import "layout/base.css";
@import "layout/normalize.css";
@import "layout/fonts.css";
/* ПЕРЕМЕННАЯ "ЦВЕТ ТЕКСТА" */
/* МИКСИН "ШРИФТ НАВИГАЦИИ" */
h1 {
  max-width: 400px;
  font-family: "Play";
  /* "ШРИФТ ЗАГОЛОВКОВ H1" */
  font-style: normal;
  /* "ШРИФТ ЗАГОЛОВКОВ H1" */
  font-weight: 700;
  /* "ШРИФТ ЗАГОЛОВКОВ H1" */
  font-size: 48px;
  /* "ШРИФТ ЗАГОЛОВКОВ H1" */
  line-height: 52px;
  /* "ШРИФТ ЗАГОЛОВКОВ H1" */
}

h2 {
  font-family: "Play";
  /* "ШРИФТ ЗАГОЛОВКОВ H2" */
  font-style: normal;
  /* "ШРИФТ ЗАГОЛОВКОВ H2" */
  font-weight: 700;
  /* "ШРИФТ ЗАГОЛОВКОВ H2" */
  font-size: 48px;
  /* "ШРИФТ ЗАГОЛОВКОВ H2" */
  line-height: 52px;
  /* "ШРИФТ ЗАГОЛОВКОВ H2" */
}

button {
  background: #E01F3D;
  /* НАСТРОЙКИ КНОПКИ */
  border-radius: 100px;
  /* НАСТРОЙКИ КНОПКИ */
  padding-top: 22px;
  /* НАСТРОЙКИ КНОПКИ */
  padding-bottom: 22px;
  /* НАСТРОЙКИ КНОПКИ */
  padding-left: 42px;
  /* НАСТРОЙКИ КНОПКИ */
  padding-right: 42px;
  /* НАСТРОЙКИ КНОПКИ */
  font-family: "Play";
  /* НАСТРОЙКИ КНОПКИ */
  font-style: normal;
  /* НАСТРОЙКИ КНОПКИ */
  font-weight: 700;
  /* НАСТРОЙКИ КНОПКИ */
  font-size: 16px;
  /* НАСТРОЙКИ КНОПКИ */
  line-height: 18px;
  /* НАСТРОЙКИ КНОПКИ */
  color: #FFFFFF;
  /* НАСТРОЙКИ КНОПКИ */
}

h3 {
  font-family: "Play";
  /* "ШРИФТ ЗАГОЛОВКОВ H3" */
  font-style: normal;
  /* "ШРИФТ ЗАГОЛОВКОВ H3" */
  font-weight: 700;
  /* "ШРИФТ ЗАГОЛОВКОВ H3" */
  font-size: 36px;
  /* "ШРИФТ ЗАГОЛОВКОВ H3" */
  line-height: 42px;
  /* "ШРИФТ ЗАГОЛОВКОВ H3" */
}

h4 {
  font-family: "Play";
  /* "ШРИФТ ЗАГОЛОВКОВ H4" */
  font-style: normal;
  /* "ШРИФТ ЗАГОЛОВКОВ H4" */
  font-weight: 700;
  /* "ШРИФТ ЗАГОЛОВКОВ H4" */
  font-size: 24px;
  /* "ШРИФТ ЗАГОЛОВКОВ H4" */
  line-height: 28px;
  /* "ШРИФТ ЗАГОЛОВКОВ H4" */
}

h5 {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #292929;
}

/* ПОДКЛЮЧИЛ ФАЙЛ С ПЕРЕМЕННЫМИ, МИКСИНАМИ И ПР. */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 25px;
}

.navigation {
  /* МИКСИН "ШРИФТ НАВИГАЦИИ" */
  font-family: "Alegreya Sans";
  /* МИКСИН "ШРИФТ НАВИГАЦИИ" */
  font-style: normal;
  /* МИКСИН "ШРИФТ НАВИГАЦИИ" */
  font-weight: 400;
  /* МИКСИН "ШРИФТ НАВИГАЦИИ" */
  font-size: 18px;
  /* МИКСИН "ШРИФТ НАВИГАЦИИ" */
  line-height: 20px;
  /* МИКСИН "ШРИФТ НАВИГАЦИИ" */
  margin-top: 11px;
  margin-left: 20px;
}
.navigation .navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.navigation .navigation__list--item {
  margin-right: 28px;
}

.address {
  margin-top: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
  font-family: "Play";
  /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
  font-style: normal;
  /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
  font-weight: 400;
  /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
  font-size: 18px;
  /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
  line-height: 18px;
  /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
}
.address div {
  margin-right: 7px;
}

/* ПОДКЛЮЧИЛ СТИЛИ ХЭДЕРА */
/* ПОДКЛЮЧИЛ СТИЛИ ФУТЕРА*/
.hello {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 74px;
}

.hello__left p {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  max-width: 320px;
  margin-top: 30px;
}
.hello__left button {
  margin-top: 35px;
}
.hello__left .hello__left--properties {
  padding-top: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.hello__left .hello__left--properties .hello__left--properties--item {
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  color: #292929;
}
.hello__left .hello__left--properties .hello__left--properties--item img {
  max-height: 100%;
}
.hello__left .hello__left--properties .hello__left--properties--item p {
  max-width: 130px;
  margin-top: 2px;
  margin-left: 7px;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #292929;
}
.hello__left .hello__left--properties .hello__left--properties--item:nth-child(2) {
  margin-left: 5px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  color: #292929;
}
.hello__left .hello__left--properties .hello__left--properties--item:nth-child(2) img {
  max-height: 100%;
}
.hello__left .hello__left--properties .hello__left--properties--item:nth-child(2) p {
  max-width: 130px;
  margin-top: 2px;
  margin-left: 7px;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #292929;
}
.hello__left .hello__left--properties .hello__left--properties--item:nth-child(3) {
  margin-right: 15px;
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  color: #292929;
}
.hello__left .hello__left--properties .hello__left--properties--item:nth-child(3) img {
  max-height: 100%;
}
.hello__left .hello__left--properties .hello__left--properties--item:nth-child(3) p {
  max-width: 130px;
  margin-top: 8px;
  margin-left: 11px;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #292929;
}

.hello__right img {
  width: 130%;
}

/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА ПРИВЕТСТВИЯ */
.order {
  padding-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.order .swipe {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.order .swipe:nth-child(1) {
  margin-right: 30px;
}
.order .order__left {
  margin-top: 29px;
}
.order .order__right {
  margin-left: 62px;
}
.order .order__right .button__properties {
  display: inline-block;
  background: #9A9A9A;
  border-radius: 4px;
}
.order .order__right .button__properties img {
  margin: 24px;
}
.order .order__right h3 {
  margin-top: 35px;
  max-width: 419px;
  color: #292929;
  margin-bottom: 40px;
}
.order .order__right p {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
  max-width: 368px;
}
.order .order__right .order__right--options {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.order .order__right .order__right--options .order__right--options--left {
  margin-right: 86px;
}
.order .order__right .order__right--options .order__right--options--left .selected {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.order .order__right .order__right--options .order__right--options--right .selected {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.order .order__right .order__right--priceorder {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.order .order__right .order__right--priceorder .order__right--priceorder--left p {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: #151515;
}
.order .order__right .order__right--priceorder .order__right--priceorder--right {
  margin-left: 15px;
}

/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА ЗАКАЗА ТОВАРА */
h2 {
  padding-top: 47px;
  text-align: center;
  padding-bottom: 60px;
}

.team__members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team__members .team__members--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.team__members .team__members--item div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.team__members .team__members--item div h5 {
  margin-top: 30px;
}
.team__members .team__members--item div .operator {
  color: #292929;
  margin-top: 15px;
}
.team__members .team__members--item div p {
  margin-top: 10px;
  text-align: center;
  max-width: 142px;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}

.team {
  padding-bottom: 50px;
}

/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА КОМАНДЫ КОМПАНИИ */
.properties {
  padding-bottom: 155px;
}
.properties h2 {
  padding-top: 67px;
  text-align: center;
}
.properties p {
  margin: 0 auto;
  margin-top: -40px;
  max-width: 590px;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #666666;
}
.properties .properties__items {
  margin-top: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.properties .properties__items .between {
  margin-top: 50px;
}
.properties .properties__items .properties__items--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.properties .properties__items .properties__items--item h4 {
  color: #292929;
  margin-top: 31px;
}
.properties .properties__items .properties__items--item p {
  margin-top: 0px;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #666666;
}

/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА СВОЙСТВ ТОВАРА */