@charset "UTF-8";
@import url("layout/fonts.css");
/* ДОБАВИЛ ШРИФТЫ  */
@import url("layout/base.css");
/* ПОДКЛЮЧИЛ CSS-ФАЙЛ С НАСТРОЙКАМИ ПО УМОЛЧАНИЮ */
@import url("layout/normalize.css");
/* ПОДКЛЮЧИЛ CSS-ФАЙЛ С НАСТРОЙКАМИ ПО УМОЛЧАНИЮ */
/* ПЕРЕМЕННАЯ "ЦВЕТ ТЕКСТА" */
/* МИКСИН "ШРИФТ НАВИГАЦИИ" */
/* ДОБАВИТЬ ТАКУЮ ШТУКУ: ЕСЛИ ЗАГОЛОВОК ТАКОГО-ТО УРОВНЯ, ТО СТИЛИ ТАКИЕ-ТО */
/* ПОДКЛЮЧИЛ ФАЙЛ С ПЕРЕМЕННЫМИ, МИКСИНАМИ И ПР. */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* ПОДКЛЮЧИЛ СТИЛИ ХЭДЕРА */
/* ПОДКЛЮЧИЛ СТИЛИ ФУТЕРА*/
/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА ПРИВЕТСТВИЯ */
/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА ЗАКАЗА ТОВАРА */
/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА КОМАНДЫ КОМПАНИИ */