// ЧЕМ БОЛЕЕ ОБЩИЙ ФАЙЛ, ТЕМ ВЫШЕ ОН НАХОДИТСЯ (Т.Е. БОЛЕЕ ПРИОРИТЕТЕН)

// НАЗЫВАТЬ ЗАВИСИМЫЕ ФАЙЛЫ НУЖНО ТОЛЬКО ЧЕРЕЗ НИЖНЕЕ ПОДЧЕРКИВАНИЕ 

@import url('layout/fonts.css');
/* ДОБАВИЛ ШРИФТЫ  */

@import 'layout/base.css';
/* ПОДКЛЮЧИЛ CSS-ФАЙЛ С НАСТРОЙКАМИ ПО УМОЛЧАНИЮ */

@import url('layout/normalize.css');
/* ПОДКЛЮЧИЛ CSS-ФАЙЛ С НАСТРОЙКАМИ ПО УМОЛЧАНИЮ */

@import "blocks/_mixin.scss";
/* ПОДКЛЮЧИЛ ФАЙЛ С ПЕРЕМЕННЫМИ, МИКСИНАМИ И ПР. */

@import "blocks/_header.scss";
/* ПОДКЛЮЧИЛ СТИЛИ ХЭДЕРА */

@import "blocks/_footer.scss";
/* ПОДКЛЮЧИЛ СТИЛИ ФУТЕРА*/

@import "blocks/_hello.scss";
/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА ПРИВЕТСТВИЯ */

@import "blocks/_order.scss";
/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА ЗАКАЗА ТОВАРА */

@import "blocks/_team.scss";
/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА КОМАНДЫ КОМПАНИИ */


