@charset "UTF-8";
@import "layout/base.css";
@import "layout/normalize.css";
@import "layout/fonts.css";
/* ПЕРЕМЕННАЯ "ЦВЕТ ТЕКСТА" */
/* МИКСИН "ШРИФТ НАВИГАЦИИ" */
h1 {
  max-width: 400px;
  font-family: "Play";
  /* "ШРИФТ ЗАГОЛОВКОВ H1" */
  font-style: normal;
  /* "ШРИФТ ЗАГОЛОВКОВ H1" */
  font-weight: 700;
  /* "ШРИФТ ЗАГОЛОВКОВ H1" */
  font-size: 48px;
  /* "ШРИФТ ЗАГОЛОВКОВ H1" */
  line-height: 52px;
  /* "ШРИФТ ЗАГОЛОВКОВ H1" */
}

h2 {
  font-family: "Play";
  /* "ШРИФТ ЗАГОЛОВКОВ H2" */
  font-style: normal;
  /* "ШРИФТ ЗАГОЛОВКОВ H2" */
  font-weight: 700;
  /* "ШРИФТ ЗАГОЛОВКОВ H2" */
  font-size: 48px;
  /* "ШРИФТ ЗАГОЛОВКОВ H2" */
  line-height: 52px;
  /* "ШРИФТ ЗАГОЛОВКОВ H2" */
}

button {
  background: #E01F3D;
  /* НАСТРОЙКИ КНОПКИ */
  border-radius: 100px;
  /* НАСТРОЙКИ КНОПКИ */
  padding-top: 18px;
  /* НАСТРОЙКИ КНОПКИ */
  padding-bottom: 20px;
  /* НАСТРОЙКИ КНОПКИ */
  padding-left: 42px;
  /* НАСТРОЙКИ КНОПКИ */
  padding-right: 42px;
  /* НАСТРОЙКИ КНОПКИ */
  font-family: "Play";
  /* НАСТРОЙКИ КНОПКИ */
  font-style: normal;
  /* НАСТРОЙКИ КНОПКИ */
  font-weight: 700;
  /* НАСТРОЙКИ КНОПКИ */
  font-size: 16px;
  /* НАСТРОЙКИ КНОПКИ */
  line-height: 18px;
  /* НАСТРОЙКИ КНОПКИ */
  color: #FFFFFF;
  /* НАСТРОЙКИ КНОПКИ */
}

h3 {
  font-family: "Play";
  /* "ШРИФТ ЗАГОЛОВКОВ H3" */
  font-style: normal;
  /* "ШРИФТ ЗАГОЛОВКОВ H3" */
  font-weight: 700;
  /* "ШРИФТ ЗАГОЛОВКОВ H3" */
  font-size: 36px;
  /* "ШРИФТ ЗАГОЛОВКОВ H3" */
  line-height: 42px;
  /* "ШРИФТ ЗАГОЛОВКОВ H3" */
}

h4 {
  font-family: "Play";
  /* "ШРИФТ ЗАГОЛОВКОВ H4" */
  font-style: normal;
  /* "ШРИФТ ЗАГОЛОВКОВ H4" */
  font-weight: 700;
  /* "ШРИФТ ЗАГОЛОВКОВ H4" */
  font-size: 24px;
  /* "ШРИФТ ЗАГОЛОВКОВ H4" */
  line-height: 28px;
  /* "ШРИФТ ЗАГОЛОВКОВ H4" */
}

h5 {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #292929;
}

/* ПОДКЛЮЧИЛ ФАЙЛ С ПЕРЕМЕННЫМИ, МИКСИНАМИ И ПР. */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 22px;
}
.menu__item:last-child {
  margin-right: 0px;
}

address {
  /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
  font-family: "Play";
  /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
  font-style: normal;
  /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
  font-weight: 400;
  /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
  font-size: 18px;
  /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
  line-height: 18px;
  /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
}

.phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.phone-number .phone-number__icon--element {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

/* ПОДКЛЮЧИЛ СТИЛИ ХЭДЕРА */
/* ПОДКЛЮЧИЛ СТИЛИ ФУТЕРА*/
/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА ПРИВЕТСТВИЯ */
.order {
  padding-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.order .swipe {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.order .swipe:nth-child(1) {
  margin-right: 30px;
}
.order .order__left {
  margin-top: 29px;
}
.order .order__right {
  margin-left: 62px;
}
.order .order__right .button__properties {
  display: inline-block;
  background: #9A9A9A;
  border-radius: 4px;
}
.order .order__right .button__properties img {
  margin: 24px;
}
.order .order__right h3 {
  margin-top: 35px;
  max-width: 419px;
  color: #292929;
  margin-bottom: 40px;
}
.order .order__right p {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
  max-width: 368px;
}
.order .order__right .order__right--options {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.order .order__right .order__right--options .order__right--options--left {
  margin-right: 86px;
}
.order .order__right .order__right--options .order__right--options--left .selected {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.order .order__right .order__right--options .order__right--options--right .selected {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.order .order__right .order__right--priceorder {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.order .order__right .order__right--priceorder .order__right--priceorder--left p {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: #151515;
}
.order .order__right .order__right--priceorder .order__right--priceorder--right {
  margin-left: 15px;
}

/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА ЗАКАЗА ТОВАРА */
h2 {
  padding-top: 47px;
  text-align: center;
  padding-bottom: 60px;
}

.team__members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team__members .team__members--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.team__members .team__members--item div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.team__members .team__members--item div h5 {
  margin-top: 30px;
}
.team__members .team__members--item div .operator {
  color: #292929;
  margin-top: 15px;
}
.team__members .team__members--item div p {
  margin-top: 10px;
  text-align: center;
  max-width: 142px;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}

.team {
  padding-bottom: 50px;
}

/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА КОМАНДЫ КОМПАНИИ */
.properties {
  padding-bottom: 155px;
}
.properties h2 {
  padding-top: 67px;
  text-align: center;
}
.properties p {
  margin: 0 auto;
  margin-top: -40px;
  max-width: 590px;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #666666;
}
.properties .properties__items {
  margin-top: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.properties .properties__items .between {
  margin-top: 50px;
}
.properties .properties__items .properties__items--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.properties .properties__items .properties__items--item h4 {
  color: #292929;
  margin-top: 31px;
}
.properties .properties__items .properties__items--item p {
  margin-top: 0px;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #666666;
}

/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА СВОЙСТВ ТОВАРА */
.hero {
  background: url("../img/hello/headphones.png") left 80% center no-repeat;
  background-color: #F5F5F5;
  min-height: 650px;
  height: 100vh;
}

.hero__title-section {
  margin-top: 95px;
}
.hero__title-section .hero__title-desc {
  margin-top: 22px;
  max-width: 321px;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #292929;
}
.hero__title-section .button {
  margin-top: 33px;
}

.hero__icons-section {
  margin-top: 75px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features .features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 17px;
}
.features .features__item .feature__text {
  max-width: 110px;
  margin-left: 13px;
}
.features .features__item .feature__text:nth-child(2) {
  max-width: 110px;
}
.features .features__item .feature__text:nth-child(2) {
  max-width: 110px;
}

.headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.headline .section__title {
  margin-top: 10px;
}
.headline .headline__subtitle {
  margin: 0 auto;
  margin-top: -40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 580px;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #666666;
}

.benefits {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.benefits .benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefits .benefits__item .benefit__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefits .benefits__item .benefit__text .benefit__title {
  margin-top: 33px;
}
.benefits .benefits__item .benefit__text .benefit__description {
  max-width: 250px;
  margin-top: 10px;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #666666;
}