// ЧЕМ БОЛЕЕ ОБЩИЙ ФАЙЛ, ТЕМ ВЫШЕ ОН НАХОДИТСЯ (Т.Е. БОЛЕЕ ПРИОРИТЕТЕН)

// НАЗЫВАТЬ ЗАВИСИМЫЕ ФАЙЛЫ НУЖНО ТОЛЬКО ЧЕРЕЗ НИЖНЕЕ ПОДЧЕРКИВАНИЕ 



//breakpoints

$tablets: 768px;
$minitablets: 626px;
$phones: 480px;


$baseFontSize:18px;



@import "layout/base.css";

@import "layout/normalize.css";

@import "layout/fonts.css";

@import "layout/_media.scss";

@import "blocks/_mixin.scss";

@import "blocks/_hamburger.scss";






@import "blocks/_header.scss";
/* ПОДКЛЮЧИЛ СТИЛИ ХЭДЕРА */

@import "blocks/_footer.scss";
/* ПОДКЛЮЧИЛ СТИЛИ ФУТЕРА*/

// @import "blocks/_hello.scss";
/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА ПРИВЕТСТВИЯ */

@import "blocks/_order.scss";
/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА ЗАКАЗА ТОВАРА */

@import "blocks/_team.scss";
/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА КОМАНДЫ КОМПАНИИ */

@import "blocks/_properties.scss";
/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА СВОЙСТВ ТОВАРА */

@import "blocks/_hero.scss";

@import "blocks/_features.scss";

@import "blocks/_benefits.scss";

@import "blocks/_rewiews.scss";

@import "blocks/_form.scss";

@import "blocks/_radio.scss";

@import "blocks/_btn.scss";



html {
    font-size: $baseFontSize;

    @include tablets {
    font-size: $baseFontSize - 1px;
    }

    @include phones {
        font-size: $baseFontSize - 2px;
        }

}

.menu {
    @include tablets {
        display: none;
    }
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}

.container {
    @include tablets {
        padding-right: rem(22px);
        padding-left: rem(22px);
    }
}