@charset "UTF-8";
@import "layout/base.css";
@import "layout/normalize.css";
@import "layout/fonts.css";
/* ПЕРЕМЕННАЯ "ЦВЕТ ТЕКСТА" */
/* МИКСИН "ШРИФТ НАВИГАЦИИ" */
h1 {
  max-width: 22.2222222222rem;
  font-family: "Play";
  /* "ШРИФТ ЗАГОЛОВКОВ H1" */
  font-style: normal;
  /* "ШРИФТ ЗАГОЛОВКОВ H1" */
  font-weight: 700;
  /* "ШРИФТ ЗАГОЛОВКОВ H1" */
  font-size: 2.6666666667rem;
  /* "ШРИФТ ЗАГОЛОВКОВ H1" */
  line-height: 2.8888888889rem;
  /* "ШРИФТ ЗАГОЛОВКОВ H1" */
}

h2 {
  font-family: "Play";
  /* "ШРИФТ ЗАГОЛОВКОВ H2" */
  font-style: normal;
  /* "ШРИФТ ЗАГОЛОВКОВ H2" */
  font-weight: 700;
  /* "ШРИФТ ЗАГОЛОВКОВ H2" */
  font-size: 2.6666666667rem;
  /* "ШРИФТ ЗАГОЛОВКОВ H2" */
  line-height: 2.8888888889rem;
  /* "ШРИФТ ЗАГОЛОВКОВ H2" */
}

h3 {
  font-family: "Play";
  /* "ШРИФТ ЗАГОЛОВКОВ H3" */
  font-style: normal;
  /* "ШРИФТ ЗАГОЛОВКОВ H3" */
  font-weight: 700;
  /* "ШРИФТ ЗАГОЛОВКОВ H3" */
  font-size: 2rem;
  /* "ШРИФТ ЗАГОЛОВКОВ H3" */
  line-height: 2.3333333333rem;
  /* "ШРИФТ ЗАГОЛОВКОВ H3" */
}

h4 {
  font-family: "Play";
  /* "ШРИФТ ЗАГОЛОВКОВ H4" */
  font-style: normal;
  /* "ШРИФТ ЗАГОЛОВКОВ H4" */
  font-weight: 700;
  /* "ШРИФТ ЗАГОЛОВКОВ H4" */
  font-size: 1.3333333333rem;
  /* "ШРИФТ ЗАГОЛОВКОВ H4" */
  line-height: 1.5555555556rem;
  /* "ШРИФТ ЗАГОЛОВКОВ H4" */
}

h5 {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1666666667rem;
  color: #292929;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 1.2222222222rem;
}
.menu__item:last-child {
  margin-right: 0rem;
}

address {
  /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
  font-family: "Play";
  /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
  font-style: normal;
  /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
  font-weight: 400;
  /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
  font-size: 1rem;
  /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
  line-height: 1rem;
  /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
}

.phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.phone-number .phone-number__icon--element {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
}

/* ПОДКЛЮЧИЛ СТИЛИ ХЭДЕРА */
/* ПОДКЛЮЧИЛ СТИЛИ ФУТЕРА*/
/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА ПРИВЕТСТВИЯ */
.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #181818;
  min-height: 36.1111111111rem;
  height: 100vh;
}
.order .container h2 {
  color: #FFFFFF;
  text-align: center;
}

.form {
  margin-top: 3.8888888889rem;
}

/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА ЗАКАЗА ТОВАРА */
.team__members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team__members .team__members--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.team__members .team__members--item div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.team__members .team__members--item div h5 {
  margin-top: 1.6666666667rem;
}
.team__members .team__members--item div .operator {
  color: #292929;
  margin-top: 0.8333333333rem;
}
.team__members .team__members--item div p {
  margin-top: 0.5555555556rem;
  text-align: center;
  max-width: 7.8888888889rem;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8888888889rem;
  line-height: 1.0555555556rem;
  color: #666666;
}

.team {
  padding-bottom: 2.7777777778rem;
}

/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА КОМАНДЫ КОМПАНИИ */
.properties {
  padding-bottom: 8.6111111111rem;
}
.properties h2 {
  padding-top: 3.7222222222rem;
  text-align: center;
}
.properties p {
  margin: 0 auto;
  margin-top: -2.2222222222rem;
  max-width: 32.7777777778rem;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 0.7777777778rem;
  line-height: 1.0555555556rem;
  text-align: center;
  color: #666666;
}
.properties .properties__items {
  margin-top: 3.4444444444rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.properties .properties__items .between {
  margin-top: 2.7777777778rem;
}
.properties .properties__items .properties__items--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.properties .properties__items .properties__items--item h4 {
  color: #292929;
  margin-top: 1.7222222222rem;
}
.properties .properties__items .properties__items--item p {
  margin-top: 0rem;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8888888889rem;
  line-height: 1.0555555556rem;
  text-align: center;
  color: #666666;
}

/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА СВОЙСТВ ТОВАРА */
.hero {
  padding-top: 1.3333333333rem;
  background-color: #F5F5F5;
  min-height: 36.1111111111rem;
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .hero:before, .hero:after {
    display: none;
  }
}

.hero__logo--768 {
  display: none;
}
@media screen and (max-width: 768px) {
  .hero__logo--768 {
    display: block;
  }
}

.hero__title-section {
  margin-top: 5.2777777778rem;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.hero__title-section .hero__title-desc {
  margin-top: 1.2222222222rem;
  max-width: 17.8333333333rem;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1666666667rem;
  line-height: 1.3888888889rem;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .hero__title-section .hero__title-desc {
    max-width: 100%;
  }
}
.hero__title-section .button {
  margin-top: 1.8333333333rem;
}

.hero__icons-section {
  margin-top: 4.1666666667rem;
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__container {
  background: url("../img/hello/headphones.png") left 80% center no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features .features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.9444444444rem;
}
.features .features__item .feature__text {
  max-width: 6.1111111111rem;
  margin-left: 0.7222222222rem;
}
.features .features__item .feature__text:nth-child(2) {
  max-width: 6.1111111111rem;
}
.features .features__item .feature__text:nth-child(2) {
  max-width: 6.1111111111rem;
}

.benefits {
  min-height: 36.1111111111rem;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.benefits .headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.benefits .headline .headline__title {
  max-height: 2.8888888889rem;
}
.benefits .headline .headline__subtitle {
  max-height: 2.1111111111rem;
  margin: 0 auto;
  margin-top: 0.8888888889rem;
  max-width: 32.2222222222rem;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8888888889rem;
  line-height: 1.0555555556rem;
  color: #666666;
}
.benefits .benefits__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.benefits .benefits__items .between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2.8888888889rem;
  height: 100%;
  width: 100%;
}
.benefits .benefits__items .benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefits .benefits__items .benefits__item .benefit__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefits .benefits__items .benefits__item .benefit__text .benefit__title {
  margin-top: 1.8333333333rem;
  width: 14.4444444444rem;
  text-align: center;
}
.benefits .benefits__items .benefits__item .benefit__text .benefit__description {
  max-width: 13.8888888889rem;
  margin-top: 0.5555555556rem;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8888888889rem;
  line-height: 1.0555555556rem;
  text-align: center;
  color: #666666;
}
.benefits ul {
  margin-top: 3.5rem;
}

.rewiews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 36.1111111111rem;
  height: 100vh;
}
.rewiews .section__title {
  text-align: center;
}
.rewiews__display {
  min-width: 52.1666666667rem;
  margin-top: 2.2222222222rem;
  background: #F8FAF9;
  padding-left: 2.3888888889rem;
  padding-right: 2.3888888889rem;
  padding-top: 2.3888888889rem;
  padding-bottom: 2.3888888889rem;
}
.rewiews__display .rewiews__display--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.rewiews__display .rewiews__display--inner .rewiews__avatar .rewiews__avatar--img {
  height: 14.6666666667rem;
  width: 14.0555555556rem;
}
.rewiews__display .rewiews__display--inner .rewiews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 2.1111111111rem;
}
.rewiews__display .rewiews__display--inner .rewiews__content .rewiews__title {
  margin-top: 2.0555555556rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: left;
}
.rewiews__display .rewiews__display--inner .rewiews__content .rewiews__text {
  margin-top: 1.3333333333rem;
  max-width: 27.6666666667rem;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8888888889rem;
  line-height: 1.0555555556rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #666666;
}
.rewiews__display .rewiews__display--inner .rewiews__content .rewiews__author {
  margin-top: 2.1111111111rem;
}

.rewiews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.7777777778rem;
}
.rewiews__switcher .interactive-avatar {
  height: 4.4444444444rem;
  width: 4.4444444444rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 0.2222222222rem solid transparent;
}
.rewiews__switcher .interactive-avatar--active {
  border-color: #E01F3D;
}
.rewiews__switcher .interactive-avatar .interactive-avatar--img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rewiews__switcher .interactive-avatar .interactive-avatar--link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0rem;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0rem;
}

.form__input {
  width: 100%;
  border: solid 0.1666666667rem transparent;
  border-radius: 0.2222222222rem;
  background: #FFFFFF;
  padding-top: 0.9444444444rem;
  padding-bottom: 0.9444444444rem;
  padding-left: 0.7222222222rem;
  padding-right: 0.7222222222rem;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 0.7777777778rem;
  line-height: 1.1111111111rem;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}
.form__input--textarea {
  height: 8.4444444444rem;
  resize: none;
}

.form__title {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8888888889rem;
  line-height: 1.0555555556rem;
  color: #FFFFFF;
}

.form__controls {
  margin-top: 1.7777777778rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8888888889rem;
  line-height: 1.0555555556rem;
  color: #FFFFFF;
}
.form__controls:last-child {
  margin-top: 0.1111111111rem;
}

.radio__checkbox {
  margin-top: -0.8333333333rem;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio__checkbox .radio__visible {
  border-radius: 0;
}
.radio__checkbox .radio__visible:before {
  background: url("../img/checkbox.svg") center center;
  background-repeat: no-repeat;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__title {
  margin-right: 1.1111111111rem;
  margin-left: 0.5555555556rem;
  margin-top: 0.1666666667rem;
}

button {
  background: #E01F3D;
  /* НАСТРОЙКИ КНОПКИ */
  border-radius: 5.5555555556rem;
  /* НАСТРОЙКИ КНОПКИ */
  padding-top: 1rem;
  /* НАСТРОЙКИ КНОПКИ */
  padding-bottom: 1.1111111111rem;
  /* НАСТРОЙКИ КНОПКИ */
  padding-left: 2.3333333333rem;
  /* НАСТРОЙКИ КНОПКИ */
  padding-right: 2.3333333333rem;
  /* НАСТРОЙКИ КНОПКИ */
  font-family: "Play";
  /* НАСТРОЙКИ КНОПКИ */
  font-style: normal;
  /* НАСТРОЙКИ КНОПКИ */
  font-weight: 700;
  /* НАСТРОЙКИ КНОПКИ */
  font-size: 0.8888888889rem;
  /* НАСТРОЙКИ КНОПКИ */
  line-height: 1rem;
  /* НАСТРОЙКИ КНОПКИ */
  color: #FFFFFF;
  /* НАСТРОЙКИ КНОПКИ */
}

.btn__theme--transparent {
  background: none;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8888888889rem;
  line-height: 1.0555555556rem;
  color: #FFFFFF;
  padding-left: 0;
}

.form__buttons {
  margin-top: 2.4444444444rem;
}

html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-right: 1.2222222222rem;
    padding-left: 1.2222222222rem;
  }
}