@charset "UTF-8";
@import "layout/base.css";
@import "layout/normalize.css";
@import "layout/fonts.css";
/* ПЕРЕМЕННАЯ "ЦВЕТ ТЕКСТА" */
/* МИКСИН "ШРИФТ НАВИГАЦИИ" */
h1 {
  max-width: 400px;
  font-family: "Play";
  /* "ШРИФТ ЗАГОЛОВКОВ H1" */
  font-style: normal;
  /* "ШРИФТ ЗАГОЛОВКОВ H1" */
  font-weight: 700;
  /* "ШРИФТ ЗАГОЛОВКОВ H1" */
  font-size: 48px;
  /* "ШРИФТ ЗАГОЛОВКОВ H1" */
  line-height: 52px;
  /* "ШРИФТ ЗАГОЛОВКОВ H1" */
}

h2 {
  font-family: "Play";
  /* "ШРИФТ ЗАГОЛОВКОВ H2" */
  font-style: normal;
  /* "ШРИФТ ЗАГОЛОВКОВ H2" */
  font-weight: 700;
  /* "ШРИФТ ЗАГОЛОВКОВ H2" */
  font-size: 48px;
  /* "ШРИФТ ЗАГОЛОВКОВ H2" */
  line-height: 52px;
  /* "ШРИФТ ЗАГОЛОВКОВ H2" */
}

h3 {
  font-family: "Play";
  /* "ШРИФТ ЗАГОЛОВКОВ H3" */
  font-style: normal;
  /* "ШРИФТ ЗАГОЛОВКОВ H3" */
  font-weight: 700;
  /* "ШРИФТ ЗАГОЛОВКОВ H3" */
  font-size: 36px;
  /* "ШРИФТ ЗАГОЛОВКОВ H3" */
  line-height: 42px;
  /* "ШРИФТ ЗАГОЛОВКОВ H3" */
}

h4 {
  font-family: "Play";
  /* "ШРИФТ ЗАГОЛОВКОВ H4" */
  font-style: normal;
  /* "ШРИФТ ЗАГОЛОВКОВ H4" */
  font-weight: 700;
  /* "ШРИФТ ЗАГОЛОВКОВ H4" */
  font-size: 24px;
  /* "ШРИФТ ЗАГОЛОВКОВ H4" */
  line-height: 28px;
  /* "ШРИФТ ЗАГОЛОВКОВ H4" */
}

h5 {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #292929;
}

/* ПОДКЛЮЧИЛ ФАЙЛ С ПЕРЕМЕННЫМИ, МИКСИНАМИ И ПР. */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 22px;
}
.menu__item:last-child {
  margin-right: 0px;
}

address {
  /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
  font-family: "Play";
  /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
  font-style: normal;
  /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
  font-weight: 400;
  /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
  font-size: 18px;
  /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
  line-height: 18px;
  /* МИКСИН "ШРИФТ КОЛОНКИ С ТЕЛЕФОНОМ" */
}

.phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.phone-number .phone-number__icon--element {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

/* ПОДКЛЮЧИЛ СТИЛИ ХЭДЕРА */
/* ПОДКЛЮЧИЛ СТИЛИ ФУТЕРА*/
/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА ПРИВЕТСТВИЯ */
.order__section {
  padding-bottom: 85px;
  background: #181818;
}
.order__section .container h2 {
  color: #FFFFFF;
}

/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА ЗАКАЗА ТОВАРА */
h2 {
  padding-top: 47px;
  text-align: center;
  padding-bottom: 60px;
}

.team__members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team__members .team__members--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.team__members .team__members--item div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.team__members .team__members--item div h5 {
  margin-top: 30px;
}
.team__members .team__members--item div .operator {
  color: #292929;
  margin-top: 15px;
}
.team__members .team__members--item div p {
  margin-top: 10px;
  text-align: center;
  max-width: 142px;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}

.team {
  padding-bottom: 50px;
}

/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА КОМАНДЫ КОМПАНИИ */
.properties {
  padding-bottom: 155px;
}
.properties h2 {
  padding-top: 67px;
  text-align: center;
}
.properties p {
  margin: 0 auto;
  margin-top: -40px;
  max-width: 590px;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #666666;
}
.properties .properties__items {
  margin-top: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.properties .properties__items .between {
  margin-top: 50px;
}
.properties .properties__items .properties__items--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.properties .properties__items .properties__items--item h4 {
  color: #292929;
  margin-top: 31px;
}
.properties .properties__items .properties__items--item p {
  margin-top: 0px;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #666666;
}

/* ПОДКЛЮЧИЛ СТИЛИ БЛОКА СВОЙСТВ ТОВАРА */
.hero {
  background: url("../img/hello/headphones.png") left 80% center no-repeat;
  background-color: #F5F5F5;
  min-height: 650px;
  height: 100vh;
}

.hero__title-section {
  margin-top: 95px;
}
.hero__title-section .hero__title-desc {
  margin-top: 22px;
  max-width: 321px;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #292929;
}
.hero__title-section .button {
  margin-top: 33px;
}

.hero__icons-section {
  margin-top: 75px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features .features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 17px;
}
.features .features__item .feature__text {
  max-width: 110px;
  margin-left: 13px;
}
.features .features__item .feature__text:nth-child(2) {
  max-width: 110px;
}
.features .features__item .feature__text:nth-child(2) {
  max-width: 110px;
}

.headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.headline .section__title {
  margin-top: 10px;
}
.headline .headline__subtitle {
  margin: 0 auto;
  margin-top: -40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 580px;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #666666;
}

.benefits {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.benefits .benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefits .benefits__item .benefit__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefits .benefits__item .benefit__text .benefit__title {
  margin-top: 33px;
}
.benefits .benefits__item .benefit__text .benefit__description {
  max-width: 250px;
  margin-top: 10px;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #666666;
}

.rewiews {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 63px;
}

.rewiews__display {
  background: #F8FAF9;
  padding-top: 41px;
  padding-bottom: 41px;
  padding-left: 43px;
  padding-right: 43px;
}
.rewiews__display .rewiews__display--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.rewiews__display .rewiews__display--inner .rewiews__avatar .rewiews__avatar--img {
  height: 264px;
  width: 253px;
}
.rewiews__display .rewiews__display--inner .rewiews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 38px;
}
.rewiews__display .rewiews__display--inner .rewiews__content .rewiews__title {
  margin-top: 37px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: left;
}
.rewiews__display .rewiews__display--inner .rewiews__content .rewiews__text {
  margin-top: 24px;
  max-width: 498px;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #666666;
}
.rewiews__display .rewiews__display--inner .rewiews__content .rewiews__author {
  margin-top: 38px;
}

.rewiews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 14px;
}
.rewiews__switcher .interactive-avatar {
  height: 80px;
  width: 80px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid transparent;
}
.rewiews__switcher .interactive-avatar--active {
  border-color: #E01F3D;
}
.rewiews__switcher .interactive-avatar .interactive-avatar--img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rewiews__switcher .interactive-avatar .interactive-avatar--link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}
.form__col:last-child {
  margin-right: 0px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}
.form__block:last-child {
  margin-right: 0px;
}

.form__input {
  width: 100%;
  border: solid 3px transparent;
  border-radius: 4px;
  background: #FFFFFF;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 13px;
  padding-right: 13px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}
.form__input--textarea {
  height: 152px;
  resize: none;
}

.form__title {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.form__controls {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.form__controls:last-child {
  margin-top: 2px;
}

.radio__checkbox {
  margin-top: -15px;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio__checkbox .radio__visible {
  border-radius: 0;
}

.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible:before {
  content: "";
  width: 14px;
  height: 14px;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__title {
  margin-right: 20px;
}

button {
  background: #E01F3D;
  /* НАСТРОЙКИ КНОПКИ */
  border-radius: 100px;
  /* НАСТРОЙКИ КНОПКИ */
  padding-top: 18px;
  /* НАСТРОЙКИ КНОПКИ */
  padding-bottom: 20px;
  /* НАСТРОЙКИ КНОПКИ */
  padding-left: 42px;
  /* НАСТРОЙКИ КНОПКИ */
  padding-right: 42px;
  /* НАСТРОЙКИ КНОПКИ */
  font-family: "Play";
  /* НАСТРОЙКИ КНОПКИ */
  font-style: normal;
  /* НАСТРОЙКИ КНОПКИ */
  font-weight: 700;
  /* НАСТРОЙКИ КНОПКИ */
  font-size: 16px;
  /* НАСТРОЙКИ КНОПКИ */
  line-height: 18px;
  /* НАСТРОЙКИ КНОПКИ */
  color: #FFFFFF;
  /* НАСТРОЙКИ КНОПКИ */
}

.btn__theme--transparent {
  background: none;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding-left: 0;
}

.form__buttons {
  margin-top: 44px;
}