// ЧЕМ БОЛЕЕ ОБЩИЙ ФАЙЛ, ТЕМ ВЫШЕ ОН НАХОДИТСЯ (Т.Е. БОЛЕЕ ПРИОРИТЕТЕН)

// НАЗЫВАТЬ ЗАВИСИМЫЕ ФАЙЛЫ НУЖНО ТОЛЬКО ЧЕРЕЗ НИЖНЕЕ ПОДЧЕРКИВАНИЕ 

@import url(layout/fonts.css);
/* ДОБАВИЛ ШРИФТЫ  */

@import url(layout/base.css);
/* ПОДКЛЮЧИЛ CSS-ФАЙЛ С НАСТРОЙКАМИ ПО УМОЛЧАНИЮ */

@import url(layout/normalize.css);
/* ПОДКЛЮЧИЛ CSS-ФАЙЛ С НАСТРОЙКАМИ ПО УМОЛЧАНИЮ */

@import url();
/* ЗАГЛУШКА */

.block {
    height: 100px;
    border: 1px solid #000;
}

.block__one {
    width: 100px;
    height: 100px;
    background: red;

    &:hover {
        background: blue;
    }
}


